<html>
<head>
   <title>利润统计</title>
   <link href="/static/css/bootstrap.css" rel="stylesheet">
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/css/flat-ui.css" rel="stylesheet">
   <link href="/static/css/bluebox.css" rel="stylesheet">
   <link href="/static/css/flatlab.css" rel="stylesheet">
   <link href="/static/css/flatlab-responsive.css" rel="stylesheet">
</head>

<body> 
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
           <div class="navbar-header">
               <span class="navbar-brand"><font style="color:white">MY SHOP</font></span>
           </div>
           <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/sales"><i class="fa fa-fw fa-dashboard"></i> 销量排行</a>
                    </li>
                    <li class="active">
                        <a href="/profit"><i class="fa fa-fw fa-bar-chart-o"></i> 利润统计</a>
                    </li>
                    <li>
                        <a href="/settle"><i class="fa fa-fw fa-table"></i> 商品结算</a>
                    </li>
                    <li>
                        <a href="/warehouse"><i class="fa fa-fw fa-edit"></i>商品入库</a>
                    </li>
                    <li>
                        <a href="/warehouse"><i class="fa fa-fw fa-edit"></i>商品提醒</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="搜索商品">
                    </div>
                </form>

           </div>
        </nav>

        <div id="page-wrapper">
            <div class="container">
                <div class="row row-centered">
                   <div class="col-md-8" style="margin-bottom:15px">
                        <div class="col-centered">
                            <div class="item">
                               <div class="content">
                                   <div class="input-group">
                                       <input type="text" style="width:80px;height:25px;border:none"> 
                                       <span>年</span>
                                   </div>
                                   <div class="input-group">
                                       <input type="text" style="width:80px;height:25px;border:none"> 
                                       <span>月</span>
                                   </div>
                                   <div class="input-group">
                                       <input type="text" style="width:80px;height:25px;border:none"> 
                                       <span>日</span>
                                   </div>

                                   <span style="margin-left:20px;margin-right:20px">到</span>

                                   <div class="input-group">
                                       <input type="text" style="width:80px;height:25px;border:none"> 
                                       <span>年</span>
                                   </div>
                                   <div class="input-group">
                                       <input type="text" style="width:80px;height:25px;border:none"> 
                                       <span>月</span>
                                   </div>
                                   <div class="input-group">
                                       <input type="text" style="width:80px;height:25px;border:none"> 
                                       <span>日</span>
                                   </div>
                               </div>
                            </div>
                        </div>
                   </div>
                </div>
                <!--<div class="row row-centered">
                   <div class="col-md-8">
                   <div class="col-xs-3 col-centered">
                       <div class="item">
                           <div class="content">
                               <button class="btn btn-success">
                                   <li class="fa  fa-binoculars"></li>
                                   <span>查看</span>
                               </button>
                           </div>
                       </div>
                   </div>
                   </div>
                </div>-->
                <div class="row">
                    <div class="col-md-8">
                        <div class="custom-bar-chart">
                            <ul class="y-axis">
                                <li>
                                    <span>100</span>
                                </li>
                                <li>
                                    <span>90</span>
                                </li>
                                <li>
                                    <span>80</span>
                                </li>
                                <li>
                                    <span>70</span>
                                </li>
                                <li>
                                    <span>60</span>
                                </li>
                                <li>
                                    <span>50</span>
                                </li>
                                <li>
                                    <span>40</span>
                                </li>
                                <li>
                                    <span>30</span>
                                </li>
                                <li>
                                    <span>20</span>
                                </li>
                                <li>
                                    <span>10</span>
                                </li>
                                <li>
                                    <span>0</span>
                                </li>
                            </ul>
                            <div class="bar">
                                <div class="title">A</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="80%" style="height: 80%;"></div>
                            </div>
                            <div class="bar ">
                                <div class="title">B</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="50%" style="height: 50%;"></div>
                            </div>
                            <div class="bar ">
                                <div class="title">C</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="40%" style="height: 40%;"></div>
                            </div>
                            <div class="bar ">
                                <div class="title">D</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="55%" style="height: 55%;"></div>
                            </div>
                            <div class="bar">
                                <div class="title">E</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="20%" style="height: 20%;"></div>
                            </div>
                            <div class="bar ">
                                <div class="title">F</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="39%" style="height: 39%;"></div>
                            </div>
                            <div class="bar">
                                <div class="title">G</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="75%" style="height: 75%;"></div>
                            </div>
                            <div class="bar ">
                                <div class="title">H</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="45%" style="height: 45%;"></div>
                            </div>
                            <div class="bar ">
                                <div class="title">I</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="50%" style="height: 50%;"></div>
                            </div>
                            <div class="bar ">
                                <div class="title">J</div>
                                <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="42%" style="height: 42%;"></div>
                            </div>
                            <div class="bar ">
                              <div class="title">K</div>
                              <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="60%" style="height: 60%;"></div>
                            </div>
                            <div class="bar ">
                              <div class="title">L</div>
                              <div class="value tooltips" data-placement="top" data-toggle="tooltip" data-original-title="90%" style="height: 90%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                  
                <div class="row row-centered">
                    <div class="col-md-8">
                        <div class="col-centered">
                            <div class="item">
                               <div class="content">
                                   <span class="round-span">今  天</span>
                                   <span class="round-span">昨  天</span>
                                   <span class="round-span">上  周</span>
                                   <span class="round-span">上  月</span>
                                   <span class="round-span">上季度</span>
                                   <span class="round-span">上半年</span>
                                   <span class="round-span">前  年</span>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
