<html>
<head>
   <title>销量排行</title>
   <link href="/static/css/bootstrap.css" rel="stylesheet">
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/css/flat-ui.css" rel="stylesheet">
</head>

<body> 
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
           <div class="navbar-header">
               <span class="navbar-brand"><font style="color:white">MY SHOP</font></span>
           </div>
           <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/sales"><i class="fa fa-fw fa-dashboard"></i> 销量排行</a>
                    </li>
                    <li>
                        <a href="/profit"><i class="fa fa-fw fa-bar-chart-o"></i> 利润统计</a>
                    </li>
                    <li>
                        <a href="/settle"><i class="fa fa-fw fa-table"></i> 商品结算</a>
                    </li>
                    <li>
                        <a href="/warehouse"><i class="fa fa-fw fa-edit"></i>商品入库</a>
                    </li>
                    <li>
                        <a href="/warehouse"><i class="fa fa-fw fa-edit"></i>商品提醒</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="搜索商品">
                    </div>
                </form>
           </div>
        </nav>

        <div id="page-wrapper">
            <div class="container">
	        <div class="row">
                    <div class="col-md-8">
                        <img style="height:80%" src="/static/img/sales.jpeg"></img>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">销量排行前十</div>
                            <table class="table">
                            </table>
                        </div> 
		    </div>
	        </div>
                <div class="row">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">当天</button>
                        <button type="button" class="btn btn-primary">本周</button>
                        <button type="button" class="btn btn-primary">本月</button>
                        <button type="button" class="btn btn-primary">季度</button>
                        <button type="button" class="btn btn-primary">本年</button>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
