<html>
<head>
   <title>商品入库</title>
   <link href="/static/css/bootstrap.css" rel="stylesheet">
   <link href="/static/css/bootstrap-reset.css" rel="stylesheet">
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">
   <!--<link href="/static/css/dashboard.css" rel="stylesheet">-->
   <link href="/static/css/flat-ui.css" rel="stylesheet">
</head>

<body> 
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
           <div class="navbar-header">
               <span class="navbar-brand"><font style="color:white">MY SHOP</font></span>
           </div>
           <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/sales"><i class="fa fa-fw fa-dashboard"></i> 销量排行</a>
                    </li>
                    <li>
                        <a href="/profit"><i class="fa fa-fw fa-bar-chart-o"></i> 利润统计</a>
                    </li>
                    <li>
                        <a href="/settle"><i class="fa fa-fw fa-table"></i> 商品结算</a>
                    </li>
                    <li class="active">
                        <a href="/warehouse"><i class="fa fa-fw fa-edit"></i>商品入库</a>
                    </li>
                    <li >
                        <a href="/warehouse"><i class="fa fa-fw fa-edit"></i>商品提醒</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="搜索商品">
                    </div>
                </form>

           </div>
        </nav>

        <div id="page-wrapper">
            <div class="container">
            <div class="row" style="height:100%">
                <div class="col-md-12">
                <section class="panel">
                <div class="panel-body">
                    <form class="form-horizontal" action="#">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">条形码</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="999-99-999-9999-9" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="999 99 999 9999 9" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">进价</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="999/99/999/9999/9" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">单价</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="999.999.999.9999" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">数量</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="9999:9999:9999:9:999:9999:9999:9999" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品类型</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="99-9999999" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">生产日期</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="(999) 999-9999" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">保质期</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="$ 999,999,999.99" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">厂家</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-mask="99/99/9999" placeholder="">
                            </div>
                        </div>
                    </form>
                </div>
                </section>
                <section class="panel">
                        <div class="panel-body">
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-success">添加</a>
                                <a class="btn btn-info">清空</a>
                            </div>
                        </div>
                </section>
            </div>
            <!--<div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body" style="height:200">
                        </div>
                    </section>
             </div>-->
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
